<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="icon" src="assets/toppart.jpg" alt="">
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides #slides pager="false" [options]="sliderOptions" (ionSlideDidChange)="slideShanged(slides)" (ionSlidesDidLoad)="slideShanged(slides)">
   
   
    <ion-slide class="slideposition">
      <ion-grid >
        <ion-row >
         <ion-col class="someclass">
            <ion-card class="cardstyle">
              <ion-card-header>
                 <ion-card-subtitle>
                   <ion-item>
                     <ion-label>Total a pagar:</ion-label>
                     <ion-icon class="resizeicon"slot="start"name="help-circle"></ion-icon>
                   </ion-item>              
                 </ion-card-subtitle>
                 <ion-card-title>$549.00</ion-card-title>
              </ion-card-header>
        
               <ion-card-content>
                <p class="fixthetext">Paga antes del 23/10/2020</p>    
                <br>
                  <ion-button (click)="onSubmitlogin()" class="loginbotton"shape="round">Pagar factura</ion-button>
              </ion-card-content>
           </ion-card>
         </ion-col>
       </ion-row >


   
        
        <ion-row >
          <ion-col class="someclass">
          <ion-card class="cardstyle">
            <ion-card-header>
              <ion-card-subtitle>
                <ion-item>
                  <ion-label>Reportes:</ion-label>
                  <ion-icon class="resizeicon"slot="start"name="alert-circle"></ion-icon>
                </ion-item>              
               </ion-card-subtitle>
              <ion-card-title>Tipo de reporte</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              <ion-item>
                  <ion-button (click)="openActionSheet()" class="loginbotton"shape="round">Seleccione tipo reporte </ion-button>
               </ion-item>

            </ion-card-content>
          </ion-card>
        </ion-col>
        </ion-row>
     
      </ion-grid>
      
      
    </ion-slide>

  <!-------separacion aqui 1-->


  <ion-slide class="slideposition">
    
    <ion-grid >
      <ion-row >
       <ion-col class="someclass">
         <p class="recip">Estado de cuenta</p>
          <ion-card class="cardstyles">
            <ion-card-header class="paddingy" >
                 <p>Octuber</p> 
                  <p>01 septiembre al 01 octubre</p> 
                  <p>TOTAL A PAGAR</p> 
                  <p>348.94</p>          
               <!-----<ion-card-title>TOTAL A PAGAR </ion-card-title>---->
            </ion-card-header>
      
             <ion-card-content >          
                <ion-button (click)="onSubmitlogin()" class="loginbottons"shape="round">Pagar factura</ion-button>
            </ion-card-content>
         </ion-card>
         
         <ion-button (click)="onSubmitlogin()" class="loginbottonss"shape="round">
           <p class="recipe">Descargar Estado de Cuenta</p>
           <a href="/assets/toppart.jpg" download></a>
           <ion-icon class="resizeicon"slot="start" name="arrow-down-circle" ></ion-icon>
          </ion-button>
         
          
        </ion-col>
     </ion-row >

      
 
      
      <ion-row >
        <ion-col class="someclass">
        <ion-card class="cardstyle">
          <ion-card-header>
            <ion-card-subtitle>
              <ion-item>
                <ion-label>Reportes:</ion-label>
                <ion-icon class="resizeicon"slot="start"name="help-circle"></ion-icon>
              </ion-item>              
             </ion-card-subtitle>
            <ion-card-title>Tipo de reporte</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-item>
                <ion-button (click)="openActionSheet()" class="loginbotton"shape="round">Seleccione tipo reporte </ion-button>
             </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
      </ion-row>
   
    </ion-grid>
    
    
  </ion-slide>


<!-------separa aqui-->



    <ion-slide>
      <ion-grid>
        <ion-row><img class="img4" src="assets/img/4.jpg"></ion-row>
        <br>
        <ion-row>
         
          <ion-col><h1></h1></ion-col>
          <ion-button href="/data" class="pos"color="success">kkkkkkkk</ion-button>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="img4"src="assets/resort3.jpg">
            <label>“The Naia Resort is a beautiful enclave of carefully landscaped grounds, a serene spa, excellent food and lovely bungalows of various sizes, all meeting the highest standards of a luxury resort.”</label>
          </ion-col>
          <ion-col>
            <img class="img4"src="assets/resort2.jpg">
            <label>“Ocean-front views, great pool, friendly/knowledgeable staff, other cool guests, easy access to food and shops, working amenities, easy access to a great (White Sands) dive shop; comfortable</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>







      <ion-slide>
      <ion-grid>
        <ion-row><img class="img4" src="assets/img/4.jpg"></ion-row>
        <br>
        <ion-row>
         
          <ion-col><h1></h1></ion-col>
          <ion-button href="/data" class="pos"color="success">kkkkkkkgit </ion-button>
        </ion-row>
        <ion-row>
          <ion-col>
            <img class="img4"src="assets/resort3.jpg">
            <label>“The Naia Resort is a beautiful enclave of carefully landscaped grounds, a serene spa, excellent food and lovely bungalows of various sizes, all meeting the highest standards of a luxury resort.”</label>
          </ion-col>
          <ion-col>
            <img class="img4"src="assets/resort2.jpg">
            <label>“Ocean-front views, great pool, friendly/knowledgeable staff, other cool guests, easy access to food and shops, working amenities, easy access to a great (White Sands) dive shop; comfortable</label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>



  
  </ion-slides>

  

  

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment mod="md" [(ngModel)]="segment" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="0">
        <ion-icon name="home"></ion-icon>
        
      </ion-segment-button>

      <ion-segment-button value="1">
        <ion-icon name="newspaper"></ion-icon>
        
      </ion-segment-button>
  
      <ion-segment-button value="2">
        <ion-icon name="document-text"></ion-icon>
        
      </ion-segment-button>
     
      <ion-segment-button value="3">
        <ion-icon name="help-circle"></ion-icon>
      
      </ion-segment-button>
  
     </ion-segment>
  </ion-toolbar>
</ion-footer>