<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="icon" src="assets/toppart.jpg" alt="" />
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
  <ion-slides
    #slides
    pager="false"
    [options]="sliderOptions"
    (ionSlideDidChange)="slideShanged(slides)"
    (ionSlidesDidLoad)="slideShanged(slides)"
  >
    <!-----------separacion0-->
    <ion-slide class="slideposition">
      <ion-grid>
        <ion-row
          ><ion-progress-bar
            type="indeterminate"
            reversed="true"
            color="light"
          ></ion-progress-bar
        ></ion-row>
        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyle">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-item>
                    <ion-label>Total a pagar:</ion-label>
                    <ion-icon
                      class="resizeicon"
                      slot="start"
                      name="help-circle"
                    ></ion-icon>
                  </ion-item>
                </ion-card-subtitle>
                <ion-card-title>$549.00</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <p class="fixthetext">Paga antes del 23/10/2020</p>
                <br />
                <ion-button (click)="moverenapp()" class="loginbotton" shape="round"
                  >Pagar factura</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyle">
              <ion-card-header>
                <ion-card-subtitle>
                  <ion-item>
                    <ion-label>Reportes:</ion-label>
                    <ion-icon
                      class="resizeicon"
                      slot="start"
                      name="alert-circle"
                    ></ion-icon>
                  </ion-item>
                </ion-card-subtitle>
                <ion-card-title>Tipo de reporte</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                <ion-item>
                  <ion-button
                    (click)="openActionSheet()"
                    class="loginbotton"
                    shape="round"
                    >Seleccione tipo reporte
                  </ion-button>
                </ion-item>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-------separacion aqui 1-->

    <ion-slide class="slideposition">
      <ion-grid>
        <ion-row
          ><ion-progress-bar
            type="indeterminate"
            reversed="true"
            color="light"
          ></ion-progress-bar
        ></ion-row>
        <label class="recip">Estado de cuenta</label>
        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyles">
              <ion-card-header class="paddingy">
                <p style="font-weight: bold; color: black; font-size: 14px">
                  Octuber
                </p>
                <p style="font-weight: bold; color: black; font-size: 14px">
                  01 septiembre al 01 octubre
                </p>
                <p style="font-weight: bold; color: black; font-size: 14px">
                  TOTAL A PAGAR
                </p>
                <ion-card-title>348.94</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <br />
                <ion-button
                  (click)="onSubmitlogin()"
                  class="loginbottonx"
                  shape="round"
                  >Pagar factura</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-button
            (click)="onSubmitlogin()"
            class="loginbottonss"
            shape="round"
          >
            <p class="recipe">Descargar Estado de Cuenta</p>
            <a href="/assets/toppart.jpg" download></a>
            <ion-icon
              class="resizeicon"
              slot="start"
              name="arrow-down-circle"
            ></ion-icon>
          </ion-button>

          <!-- Default Segment -->
          <br />
          <br />
          <ion-segment
            segment="0"
            [(ngModel)]="segmen"
            mode="ios"
            class="ss"
            (ionChange)="segmentChanged($event)"
          >
            <ion-segment-button class="divbut" value="0">
              <ion-label>Factura Actual</ion-label>
            </ion-segment-button>
            <ion-segment-button class="divbut" value="historio">
              <ion-label>Historial</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyle">
              <!----- 
      --------aqui voy a poner el despliegue-->

              <!-------------------aqui termina la modificacion----->
              <ion-card-content class="paradesliso">
                <!---    <ion-slides  [options]="slideOpt">
            <ion-slide>  ------>
                <ion-slides [options]="slideOpt">
                  <ion-slide>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-card id="card1" class="vdddd">
                            <ion-card-header>
                              <ion-card-subtitle class="lefttt"
                                >Noviembre</ion-card-subtitle
                              >
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />
                              <ion-card-title class="lefttt"
                                >Enviar estado de cuenta de
                                Noviembre</ion-card-title
                              >
                            </ion-card-header>

                            <ion-card-content src="assets/toppart.jpg">
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />
                              <img
                                class="iicon"
                                src="assets/toppart.jpg"
                                style="width: 4em; height: 5em"
                              />
                              $349.26 14/11/2020
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col>
                          <ion-card class="vdddd">
                            <ion-card-header>
                              <ion-card-subtitle class="lefttt"
                                >Octubre</ion-card-subtitle
                              >
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />
                              <ion-card-title class="lefttt"
                                >Enviar estado de cuenta de
                                Octubre</ion-card-title
                              >
                            </ion-card-header>

                            <ion-card-content>
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />
                              <img
                                class="iicon"
                                src="assets/toppart.jpg"
                                style="width: 4em; height: 5em"
                              />
                              $349.26 13/10/2020
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                        <ion-col>
                          <ion-card class="vdddd">
                            <ion-card-header>
                              <ion-card-subtitle class="lefttt"
                                >Septiembre</ion-card-subtitle
                              >
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />
                              <ion-card-title class="lefttt"
                                >Enviar estado de cuenta de
                                Septiembre</ion-card-title
                              >
                            </ion-card-header>

                            <ion-card-content>
                              <hr
                                style="
                                  height: 2px;
                                  border-width: 0;
                                  color: gray;
                                  background-color: gray;
                                "
                              />

                              <img
                                class="iicon"
                                src="assets/toppart.jpg"
                                style="width: 4em; height: 5em"
                              />
                              $349.26 13/09/2020
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-slide>
                </ion-slides>
                <!---   </ion-slide>
                       
          </ion-slides>   ----->

                <!------   </ion-card-content>
      </ion-card>--->
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-------separa aqui-->

    <ion-slide class="slideposition">
      <ion-grid>
        <ion-row
          ><ion-progress-bar
            type="indeterminate"
            reversed="true"
            color="light"
          ></ion-progress-bar
        ></ion-row>
        <label class="recip">Estado de cuenta</label>
        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyles">
              <ion-card-header class="paddingy">
                <p style="font-weight: bold; color: black; font-size: 14px">
                  Octuber
                </p>
                <p style="font-weight: bold; color: black; font-size: 14px">
                  01 septiembre al 01 octubre
                </p>
                <p style="font-weight: bold; color: black; font-size: 14px">
                  TOTAL A PAGAR
                </p>
                <ion-card-title>348.94</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <br />
                <ion-button
                  (click)="onSubmitlogin()"
                  class="loginbottonx"
                  shape="round"
                  >Pagar factura</ion-button
                >
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-button
            (click)="onSubmitlogin()"
            class="loginbottonss"
            shape="round"
          >
            <p class="recipe">Descargar Estado de Cuenta</p>
            <a href="/assets/toppart.jpg" download></a>
            <ion-icon
              class="resizeicon"
              slot="start"
              name="arrow-down-circle"
            ></ion-icon>
          </ion-button>

          <!-- Default Segment -->
          <br />
          <br />
          <ion-segment
            segment="0"
            [(ngModel)]="segmen"
            mode="ios"
            class="ss"
            (ionChange)="segmentChanged($event)"
          >
            <ion-segment-button class="divbut" value="0">
              <ion-label>Factura Actual</ion-label>
            </ion-segment-button>
            <ion-segment-button class="divbut" value="historio">
              <ion-label>Historial</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-row>

        <ion-row class="state">
          <ion-col class="someclass">
            <ion-card class="cardstyleses">
              <img src="assets/reci.jpg" style="height: 350px; width: 260px" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!----------------separa aqui igual-->

    <ion-slide>
      <ion-grid>
        <ion-row
          ><ion-progress-bar
            type="indeterminate"
            reversed="true"
            color="light"
          ></ion-progress-bar
        ></ion-row>
        <ion-row>
          <ion-col>
            <ion-searchbar color="light" animated></ion-searchbar>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment
      mod="md"
      [(ngModel)]="segment"
      (ionChange)="segmentChanged($event)"
    >
      <ion-segment-button (click)="scrollToTop()" value="0">
        <ion-icon name="home"></ion-icon>
      </ion-segment-button>

      <ion-segment-button (click)="scrollToTop()" value="1">
        <ion-icon name="newspaper"></ion-icon>
      </ion-segment-button>

      <ion-segment-button (click)="scrollToTop()" value="2">
        <ion-icon name="document-text"></ion-icon>
      </ion-segment-button>

      <ion-segment-button (click)="scrollToTop()" value="3">
        <ion-icon name="help-circle"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
