ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: black;
  margin: 0;
}

#container a {
  text-decoration: none;
}
.icon{  
  display: block;
  margin-left: 50px;
  /*margin-right: auto;*/
}
ion-content{
  --ion-background-color: #00A2C5!important;
}
.loginbotton{
  display: flex; justify-content: center;
  border-radius: 50%;
  width: 200px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  --background: rgb(221, 221, 207);
  --color: #070101;
 
}
.cardstyle{
  margin: 12px 12px 12px 0px;
  border: 3px ;
  width: 300px;
  border-radius: 12px;
 
  --ion-background-color:white;
}
.resizeicon{
  font-size: 40px;

}
.fixthetext{
  font-size: 16px;
  
}
.modifygrid{
position:center;
align-items: flex-end;

}
.slideposition{
display: flex;
justify-content: center;
}
ion-col.someclass {
 /* text-align: center;
  /*right: center;/*This should be 20px or center*/
 /* left: center;/*This should be 20px or center
  justify-content: center;*/
  display: flex;
  justify-content: center;
  text-align: center;
}
ion-select-option{
  position: initial;
  margin-left: 100px;
  width:40%;
  text-align: center;
}
ion-item.fixselection{
  position: initial;
  margin-left: 100px;
  width:40%;
  text-align: center;
}
.centerx{
  align-items: center;
  right: 40px;
  left: 40px;
}
.cardstyles{
  margin: 12px 12px 12px 0px;
  border: 3px ;
  width: 330px;
  border-radius: 16px;
  height: 195px;
  --ion-background-color:white;
 /* height: 413px;*/
}
.loginbottons{
  display: flex; justify-content: center;
  border-radius: 50%;
  width: 200px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  --background: rgb(221, 221, 207);
  --color: #070101;
 
 
}
.paddingy{
  padding-bottom: 0px;
  padding-top: 2px;
}
.recip{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
 
}
.recipe{
  font-size: 13px;
  font-weight: bold;
  text-transform:capitalize;
}
.loginbottonss{
  display: flex; justify-content: center;
  border-radius: 50%;
  width: 260px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  /*--background: rgb(221, 221, 207);*/
  --color: #070101;
  --background: rgb(221, 221, 207);
   text-transform: lowercase;
   font-weight: bold;
}
.divdedbutton{
  border-radius: 50%;
}
.divedebutton{
  display: flex; justify-content: center;
  border-radius: 24px;
  width: 292px;
  height: 55px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  /*--background: rgb(221, 221, 207);*/
  --color: #070101;
  --ion-background-color: #00A2C5!important;
   text-transform: lowercase;
   font-weight: bold;
   border-color: black;
}
.divbut{
  --border-color:black;
  --border-width:1rem;
  --color: #070101;
}
.ss{
  --border-color:black;
  --border-width:2rem;
  --ion-background-color: #ffffff!important;
  border-radius: 12px;
  justify-content: center;
 
}
.state {
  display: flex;
  justify-content: center;
  
  }
  .loginbottonx{
    display: flex; justify-content: center;
    border-radius: 50%;
    width: 200px;
    position: center;
    display: center;
    justify-content: center;
    margin: auto;
    --background: rgb(221, 221, 207);
    --color: #070101;
  
  }
  .paradesliso{
    height: 413px;
  }
  .lefttt{
    text-align: left;
    border-color: black;
    border-width: 4rem;
    border: black;
  }
  .vdddd{
    border-radius: 12px;
    width: 260px;
    --ion-background-color: #dbd9d9!important;
  }
  .iicon{
    display: left;
    margin-right: auto;
    margin-left: auto ;
    width: 2px;
    height: 2px;   
    overflow: hidden;
    border-radius: 28%;
}
.paradeslisom{
  height: 313px;
  width: 300;
}
.cardstyleses{
  margin: 12px 12px 12px 0px;
  border: 3px ;
  width: 260px;
  border-radius: 16px;
  height: 350px;
  --ion-background-color:white;
  
 /* height: 413px;*/
}