<ion-header>
  <ion-toolbar>
    
    <h1 class="cen">Comentarios</h1>
    <ion-button class="iconfont" href="/folder/Inbox" slot="start">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <ion-button class="iconfontt" slot="end">
      <ion-icon name="paper-plane"></ion-icon>
    </ion-button>
  
  </ion-toolbar>

</ion-header>

<ion-content>
  
  <br>
  
    <ion-item class="allinputstyle">
      
      <ion-input type="email" [(ngModel)]="email" name="email" placeholder="carlosmo@gmail.com"><ion-label >De:</ion-label></ion-input>  
    </ion-item>
<br>
      <ion-item>
      <textarea name="textarea" rows="7" cols="50" class="allinputstyles" [(ngModel)]="text"
      placeholder="¿Quieres enviarnos comentarios? Nos encantaría que lo hicieras, pero no compartas información sensible. ¿Tienes preguntas o inquietudes legales?  Visita el Centro de ayuda o comunícate con asistencia. "></textarea> 
    </ion-item>

</ion-content>
