.icon{  
    display: block;
    margin-left: 50px;
    /*margin-right: auto;*/
  }
.mespago{
  font-size: 12px;
  text-align: center;
}
.total{
 font-size: 18px;
 text-align: center;
}
.amountn{
font-size: 18px;
text-align: center;
font-weight: bold;
}
.recip{
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  
}
