.icon{  
    display: block;
    margin-left: 50px;
    /*margin-right: auto;*/
  }
.mespago{
  font-size: 12px;
  text-align: center;
}
.total{
 font-size: 18px;
 text-align: center;
}
.amountn{
font-size: 18px;
text-align: center;
font-weight: bold;
}
.recip{
  font-size: 24px;
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: center;
  background-color:rgb(91, 218, 235);
  --color: white;
  
}
.recipp{
  font-size: 24px; 
  padding-bottom: 2px;
  padding-top: 2px;
  text-align: left;
 
}
.paymentbotton{
  display: flex; justify-content: center;
  border-radius: 75%;
  width: 150px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  --background: rgb(91, 218, 235);
  --color: #070101;
  font-size: 12px;
  height: 40px;
}
.paymentbotto{
  display: flex; justify-content: center;
  border-radius: 75%;
  width: 150px;
  position: center;
  display: center;
  justify-content: center;
  margin: auto;
  --background: rgb(236, 17, 152);
  --color: #070101;
  font-size: 12px;
  height: 40px;
}
