
.maintitle{
    text-align: center;
}
.email{
    text-align: 12px;
    justify-content: center;
    border-radius: 24px;
    --ion-background-color: #ffffff!important;
    position: center;
    display: center;
   /* width: 150px;*/
    width: 250px;
    margin: auto;
    height: 45px;
    
}
.password{
    text-align: justify;
    justify-content: center;
    border-radius: 24px;
    --ion-background-color: #ffffff!important;
    position: center;
    display: center;
   /* width: 150px;*/
    width: 250px;
    margin: auto;
    height: 45px;
}



.loginbotton{
    display: flex; justify-content: center;
    border-radius: 50%;
    width: 200px;
    position: center;
    display: center;
    justify-content: center;
    margin: auto;
    --background: #ffffff;
    --color: #070101;
}
.signup{
    text-align: center;
}
ion-content{
    --ion-background-color: #00A2C5!important;
}
.itemform {
    border-radius: 10px !important;
    padding-left: 30px !important;
    padding-right: 30px;
    font-size: 0.9em;
    border: 1px solid #f1f1f1;
    background: rgb(219, 219, 219);
    height: 10%;
    width: 50%;
}
ion-button{
    --ion-background-color: #f6fbfc!important;
}
.loginbotto{
    display: flex; justify-content: center;
    border-radius: 50%;
    width: 200px;
    position: center;
    display: center;
    justify-content: center;
    margin: auto;
    height: 15px;
    
    
}
.passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 8px !important;
    margin: 0 auto !important;
 }